* {
  margin: 0
}

.ui-controls-container, .today-breakdown {
  box-sizing: border-box;
  margin: 30px auto;
  width: 900px
}

@media (max-width: 1000px) {
  .ui-controls-container, .today-breakdown {
    padding-left: 50px;
  }
}

.today-breakdown {
  font: 16px Avenir;
}

.activity-btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 16px Avenir;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  position: relative;
  text-shadow: 0 0 1px #666;
}

.activity-btn:hover {
  opacity: 0.9;
}

.app-container {
  margin: 0 auto;
}

.day {
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.activity-btn-time-label {
  background-color: transparent;
  box-sizing: border-box;
  color: black;
  font: 12px Avenir;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: 40px;
  left: 0;
  line-height: normal;
  width: 100%;
}
